ion-title{
  font-size: 30px;
  text-align: center;
}

div{
  margin: 0;
  padding: 0;

  ion-item{
    
    &::part(native){
      --padding-start:0;
      --inner-padding-end: 5px;
      --inner-padding-start: 5px;
    }

    app-card-pokemon{
      width: 100%;
    }
  }
}